---
const props = Astro.props;
import { Icon } from "astro-icon/components";
---

<li class="grid grid-cols-1">
  <div class="flex items-center justify-start space-x-5">
    <Icon
      name={props.icon}
      class="text-accent min-w-10 min-h-10 p-2 rounded-xl"
    />
    <div class="flex flex-col space-y-1 text-lg text-gray-50">
      <h2 class="font-semibold">{props.field_name}</h2>
      <p>{props.value}</p>
    </div>
  </div>
  {props.divider && <div class="divider mt-6 px-4 divider-neutral" />}
</li>
