---
import Layout from "@layouts/Layout.astro";
import BlogPreview from "@components/ui/blog/BlogPreview.astro";
import SearchBox from "@components/ui/blog/SearchBox.astro";
import Pagination from "@components/ui/blog/Pagination.astro";
import { getCollection } from "astro:content";
import { filterPublishedPosts, sortPostsByDate } from "@utils/posts";

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection("blog");
  const publishedPosts = filterPublishedPosts(posts);
  const sortedPosts = sortPostsByDate(publishedPosts);

  return paginate(sortedPosts, { pageSize: 10 });
}

const { page } = Astro.props;
---

<Layout title="Blog Posts">
  <div class="mx-4 sm:mx-auto lg:mt-28 w-200 mb-20">
    <div class="flex justify-between items-center ml-2 mb-16">
      <h1 class="text-4xl font-bold text-gray-900 dark:text-white">
        Blog Posts
      </h1>
      <SearchBox />
    </div>

    {
      page.data.length > 0 ? (
        <section class="space-y-10">
          {page.data.map((post) => (
            <BlogPreview post={post} />
          ))}
        </section>
      ) : (
        <div class="text-center py-12">
          <p class="text-xl">No blog posts found.</p>
        </div>
      )
    }

    {
      page.lastPage > 1 && (
        <Pagination
          currentPage={page.currentPage}
          totalPages={page.lastPage}
          baseUrl="/blog/"
        />
      )
    }
  </div>
</Layout>
