@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "@iconify/tailwind4" {
  scale: 0;
  /* Set scale to 0 to allow manual sizing */
  square: true;
  /* Keep icons square for uniformity */
}

@plugin "daisyui" {
  themes:
    abyss,
    synthwave,
    sunset --default,
    dark,
    night,
    halloween,
    forest,
    black;
  exclude: typography;
}

@theme {
  --breakpoint-3xl: 110rem;
  --breakpoint-4xl: 130rem;
}

@layer base {
  body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-rendering: optimizeLegibility;
    @apply break-words;
    @apply antialiased;
    /* @apply h-screen bg-gradient-to-tl from-cyan-900/80 via-teal-950/90 to-emerald-950; */
  }
}

@layer components {
  .nav-bar {
    @apply flex w-auto justify-end items-center;
    @apply space-x-6;
  }

  .nav-item {
    @apply btn btn-ghost;
    @apply text-[14px];
  }

  .card-basic {
    @apply card bg-base-100 shadow-xl rounded-2xl p-3 2xl:p-7 lg:p-5;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  filter: none !important;
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(page) {
  animation: 150ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-new(page) {
  animation: 150ms cubic-bezier(0, 0, 0.2, 1) 50ms both fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

* {
  backface-visibility: hidden;
}
