---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <h1>
    Blogaso papa Blogaso papa Blogaso papa Blogaso papa Blogaso papa Blogaso
    papa Blogaso papa BBlogaso papaBlogaso papaBlogaso papaBlogaso papaBlogaso
    papalogaso papa
  </h1>
</Layout>
