---
import Layout from "@layouts/Layout.astro";
import Oscp from "@assets/oscp.svg";
---

<Layout>
  <div class="text-center mx-4 sm:mx-auto lg:mt-28 mb-20 md:px-8 px-3">
    <div class="flex flex-col ml-2 mb-16">
      <h1 class="text-4xl mb-8">Friends</h1>
      <p class="text-xl text-justify">
        Here is a list of some of my valued friends and contacts that I highly
        recommend you follow.
      </p>
    </div>
    Loading other dino-friends <span class="loading loading-dots loading-sm"
    ></span>
  </div>
</Layout>
