---
import Layout from "@layouts/Layout.astro";
import CardProject from "@components/ui/CardProject.astro";
import CardPost from "@components/ui/CardPost.astro";
import Presentation from "@components/ui/home/Presentation.astro";
import TimeLineItem from "@components/ui/home/TimeLineItem.astro";
import { Icon } from "astro-icon/components";
import TimeLine from "@components/ui/home/TimeLine.astro";
import TimeLine2 from "@components/ui/home/TimeLine2.astro";

const skills = [
  { name: "ethical-hacking", icon: "mdi:shield-check" },
  { name: "secure-code-reviewer", icon: "mdi:code-braces" },
  { name: "triage", icon: "mdi:bug" },
  { name: "web-security", icon: "mdi:shield-check" },
  { name: "automation", icon: "mdi:robot" },
  { name: "dev-sec-ops", icon: "mdi:shield-check" },
  { name: "ci-cd", icon: "mdi:robot" },
  { name: "devops", icon: "mdi:robot" },
  { name: "burp-suite", icon: "simple-icons:burpsuite" },
  { name: "python", icon: "simple-icons:python" },
  { name: "java", icon: "mdi:language-java" },
  { name: "c++", icon: "simple-icons:cplusplus" },
  { name: "typescript", icon: "simple-icons:typescript" },
];
---

<Layout>
  <div
    class="mx-auto flex w-fit justify-between lg:mt-18 lg:ml-7 xl:ml-12 2xl:ml-16 3xl:mx-auto 2xl:gap-6 3xl:gap-12"
  >
    <Presentation
      class="card-basic sticky top-20 grid h-fit w-auto max-w-110 min-w-85 place-items-center gap-5 max-lg:hidden md:mx-auto"
    />
    <div
      class="relative mx-auto grid h-full w-fit max-w-210 grid-cols-7 content-center gap-4 px-2 sm:mx-5"
    >
      <Presentation
        class="card-basic col-span-7 mx-auto mb-8 grid h-fit min-w-85 place-items-center gap-5 lg:hidden"
      />
      <!-- <div -->
      <!--   class="3xl:col-span-5 col-span-7 mx-auto space-y-12 xl:col-span-4 xl:max-w-320 xl:p-0 xl:px-10" -->
      <!-- > -->
      <div class="col-span-7 mx-auto space-y-12 text-gray-50 lg:mt-14">
        <p
          class="mb-8 text-center text-2xl font-bold lg:mt-5 lg:text-3xl text-base-content"
        >
          Welcome Space-Dinosaur! Nice to meet you!
        </p>

        <p class="text-justify text-[17px] text-pretty">
          My name is Alejandro. I am an Appsec Researcher and Ethical Hacker.
          This is my personal website where I share my knowledge and
          experiences. Here you will find my latest blog posts, my curriculum,
          and my projects. I hope you enjoy your stay here!
        </p>
        <!-- <TimeLine /> -->
        <!-- <TimeLine2 /> -->
      </div>
      <div
        class="col-span-7 mx-auto mt-4 flex w-full flex-col items-center justify-center gap-8 text-center md:px-10"
      >
        <h1 class="text-2xl font-bold">Aptitudes and Skills</h1>
        <div
          class="flex max-w-300 flex-wrap justify-center gap-2 rounded-3xl px-2 py-3 lg:px-4"
        >
          {
            skills.map((skill) => (
              <div class="badge-soft badge p-3 text-sm badge-primary sm:text-base">
                <Icon name={skill.icon} class="" />
                <span class=" ">{skill.name}</span>
              </div>
            ))
          }
        </div>
      </div>
      <div
        class="col-span-7 mx-auto flex w-full flex-col items-center justify-center gap-8 text-center"
      >
        <div class="divider px-10 md:px-80"></div>
        <div
          class="mx-auto flex items-center justify-center gap-4 text-center text-4xl font-bold"
        >
          Personal Projects
          <Icon
            name="streamline-emojis:rocket"
            class="max-md:hidden md:h-12 md:w-12"
          />
        </div>
        <div class="flex flex-wrap justify-center gap-8">
          <CardPost />
          <CardPost />
          <CardPost />
          <CardPost />
          <CardPost />
        </div>

        <div class="divider px-10 md:px-80"></div>
        <div
          class="mx-auto flex items-center justify-center gap-4 text-center text-4xl font-bold"
        >
          My Latest Blog Posts
          <Icon
            name="streamline:curly-brackets-solid"
            class="max-md:hidden md:h-12 md:w-12"
          />
        </div>
        <div class="flex flex-wrap justify-center gap-8"></div>
      </div>
    </div>
    <style>
      main {
        margin: auto;
        width: 100%;
      }
    </style>
  </div>
</Layout>
