---
import { Image } from "astro:assets";
import ThemeSwitch from "@components/ui/ThemeSwitch.astro";
import Logo from "@components/ui/Logo.astro";
import { Icon } from "astro-icon/components";

// import { Image } from 'astro:assets'
import NavItem from "./ui/NavItem.astro";
// import { template } from '@/settings'
//
// const isBlogPopulated = await getCollection('blog').then(collection => collection.length > 0)
---

<aside
  class="xs:w-[13rem] flex h-screen flex-col bg-base-200 pt-4 text-base-content"
>
  <div class="my-8 flex h-full flex-col justify-between">
    <div>
      <div class="flex flex-col items-center justify-center gap-6">
        <img
          class="mask size-44 mask-circle"
          src="/logo.png"
          alt={`Profile picture of a Space Dinosaur`}
        />
        <h1
          class=" hidden text-lg text-base-content font-black lg:flex lg:items-center lg:gap-2"
        >
          Space Dino Dive
        </h1>
      </div>

      <div class="mx-1 mt-22">


        <ul
          class="menu flex w-full *:w-full shrink grow flex-col items-center gap-4 space-y-4 overflow-y-auto menu-md "
        >
          <NavItem href="/" icon="mdi:home" linkName="Home" />
          <NavItem href="/blog" icon="streamline:hand-held-tablet-writing-solid" linkName="Blog" />
          <NavItem href="/projects" icon="mdi:github" linkName="Projects" />
          <NavItem href="/contact" icon="streamline:whatsapp" linkName="Contact Me" />
          <NavItem href="/friends" icon="mdi:account-group" linkName="Friends" />
        </ul>
      </div>
    </div>
  </div>
</aside>
<style>
.
</style>
