---
import { Image } from "astro:assets";
import ThemeSwitch from "@components/ui/ThemeSwitch.astro";
import Logo from "@components/ui/Logo.astro";

const nav_list = [
  { name: "Home", href: "/" },
  { name: "Blog", href: "/blog" },
  { name: "Projects", href: "/projects" },
  { name: "About", href: "/about" },
  { name: "Contact Me 👋", href: "/contact" },
];
---

<header>
  <div
    class="flex w-full h-20 items-center justify-between space-x-4 bg-base-200 mb-4 xl:mb-10 rounded-2xl p-5"
  >
    <div class="flex items-center space-x-4">
      <Logo />
      <h2 class="font-semibold w-auto not-break">Astro-AleRaptor</h2>
    </div>
    <nav class="nav-bar">
      {
        nav_list.map((nav_item) => (
          <a role="button" class="nav-item" href={nav_item.href}>
            {nav_item.name}
          </a>
        ))
      }
      <!-- <a role="button" class="btn btn-active" href="/contact">Contact Me 👋</a> -->
      <ThemeSwitch />
    </nav>
  </div>
</header>
