---
import "@styles/global.css";
import Header from "@layouts/Header.astro";
import Footer from "@layouts/Footer.astro";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <!-- <html lang="en" data-theme="abyss"> -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro-AleRaptor</title>
  </head>
  <body class="place-items-center">
    <Header />
    <ClientRouter />
    <slot />
    <Footer />
  </body>
</html>

<style></style>
